/* Add a black background color to the top navigation */
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(landing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 
}

#sidenav{
  text-align: right;
   background-color: transparent;
  overflow: hidden;
  float: right;
}
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #transparent;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}
.text{
   font-size: 3rem;
  color: white;
  width: 320px;
  padding: 10px;
  border right:100px;
  font-family: cursive;

}
.buffer{
  height: 5rem;
}

.btn{
  margin: 10px;
}